main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--font);
}

.posts{
    width: 80%;
    height: fit-content;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.post-wrapper{
    width: 100%;
    min-height: 200px;
    height: fit-content;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.post-content{
    width: 100%;
    min-height: 170px;
    height: fit-content;
}

.post-content h3{
    font-size: 25px;
    text-align: left;
}

.post-content p{
    font-size: 18px;
    text-align: left;
}

.post-footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-buttons{
    width: 200px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.dash-buttons p{
    font-size: 20px;
}

.post-wrapper:hover{
    scale: 1.005;
    background-color: var(--light);
}

.dash-buttons .dash-btn{
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 60px;
}

.dash-buttons a{
    font-size: 18px;
}