.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.form{
    min-height: 35rem;
    height: fit-content;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--font);
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgb(0, 0, 0, .4);
}

.form label{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.link{
    font-size: inherit;
    color: var(--font);
}

.form-input{
    outline: none;
    padding: 5px 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid var(--background);
    float: right;
    width: 95%;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    color: var(--font);
    font-family: inherit;
    transition: 0.5s;
}

.form-span{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 1.2em;
    pointer-events: none;
    transition: 0.7s;
    letter-spacing: .05em;
    font-family: inherit;
}

.form-input:valid + .form-span,
.form-input:focus + .form-span{
    color: var(--font);
    transform: translateY(-38px);
    font-size: 1em;
}

.form-input:focus{
    background-color: rgb(200, 244, 249, .1);
    border-bottom: 1px solid var(--light);
    color: var(--font);
    border-radius: 2px;
}

.form-button{
    width: 320px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--background);
    color: var(--font);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, .5);
    font-size: 20px;
    margin-bottom: 10px;
}

.form-button:hover{
    cursor: pointer;
    scale: 1.1;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, .7);
}

.animation-ignore span{
    width: 70%;
    transform: none;
    transition: none;
}

.file-label{
    width: 350px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
}